/*==========================================
    about area
==========================================*/
.about-page {
    padding: 120px 0;
    .part-video {
        position: relative;
        &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: $base-color;
            opacity: .65;
        }
        img {
            width: 100%;
        }
    }
    .part-text {
        padding-left: 30px;
        h3 {
            font-size: 45px;
            color: $base-color;
            font-weight: 700;
            margin-bottom: 18px;
        }
        p {
            font-size: 16px;
            line-height: 30px;
            color: $base-color;
        }
        ul {
            margin-top: 31px;
            li {
                color: $base-color;
                font-size: 16px;
                font-weight: 600;
                padding-bottom: 8px;
                span {
                    display: inline-block;
                    margin-right: 6px;
                }
            }
        }
    }
        .play-video {
        display: inline-block;
        position: absolute;
        top: 50%;
        margin-top: -40px;
        left: 50%;
        margin-left: -40px;
        z-index: 2; }

        .play-video:after {
        position: absolute;
        content: '';
        width: 80px;
        height: 80px;
        left: 50%;
        top: 50%;
        right: 0;
        bottom: 0;
        background: #0088ff;
        border-radius: 50%;
        -webkit-animation: pulse-border 1500ms ease-out infinite;
        animation: pulse-border 1500ms ease-out infinite;
        z-index: -1; }
        .play-video a {
        font-size: 26px;
        display: table-cell;
        line-height: 0;
        padding: 0 0 0 5px;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        background: #0088ff;
        color: #fff;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }

        .play-video a:hover {
        background: $white;
    color: #0088ff; }

        @-webkit-keyframes pulse-border {
        0% {
            -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            -moz-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            -o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            opacity: 1; }
        100% {
            -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            -moz-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            -o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            opacity: 0; } }

        @keyframes pulse-border {
        0% {
            -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            -moz-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            -o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            opacity: 1; }
        100% {
            -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            -moz-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            -o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            opacity: 0; } }
}