/*==========================================
    blog area
==========================================*/
.blog-area {
	padding: 120px 0 120px;
	&.blog-grid-page {
		padding: 120px 0 90px;
	}
	.single-blog {
		@include transition(.4s);
		  box-shadow: 0px 0px 38px 0px rgba(68, 68, 68, 0.12);
		  margin-bottom: 30px;
  		&:hover {
  			box-shadow: 0px 0px 38px 0px rgba(68, 68, 68, 0.5);
  			.part-img {
  				img {
  					@include transform(rotate(7deg) scale(1.2));
  				}
  			}
  			.part-text {
  				h3 {
  					a {
  						color: $base-color;
  					}
  				}
  			}
  		}
		.part-img {
			position: relative;
			overflow: hidden;
			&:after {
				position: absolute;
				content: '';
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: #000;
				opacity: .3;
				z-index: 1;
			}
			img {
				width: 100%;
				@include transition(.4s);
			}
			.content-on-img {
				display: none;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
				a {
					display: inline-block;
					color: $white;
					border: 1px solid $white;
					border-radius: 5px;    
					position: absolute;
				    bottom: 15px;
				    left: 15px;
				    padding: 5px 15px;
				    @include transition(.4s);
					background: rgba(255, 255, 255, 0.32);
				    &:hover {
				    	color: $heading-color;
				    	background: $white;
				    }
				}
			}
		}
		.part-text {
			padding: 25px 30px 8px;
			span {
				font-size: 12px;
				color: $base-color;
				margin-bottom: 7px;
				display: inline-block;
				display: none;
			}
			h3 {
				font-size: 22px;
				font-weight: 600;
				margin-bottom: 18px;
				line-height: 30px;
				font-family: "Ubuntu", sans-serif;
				a {
					color: $hcolor-3;
					@include transition(.4s);
				}
			}
			p {
				color: #666;
				font-size: 16px;
				line-height: 30px;
			}
		}
		.part-admin {
		    padding: 15px 20px;
			border-top: 1px solid #d3d3d3;
			display: none;
			ul {
				padding: 0;
				margin: 0;
				list-style: none;
				li {
					display: inline-block;
					border-right: 1px solid #d3d3d3;
					padding: 0 10px;
					&:last-child {
						border-right: none;
					}
					&:first-child {
						padding-left: 0;
					}
					h4 {
						color: $base-color;
						font-size: 15px;
						margin-bottom: 0;
						span {
							color: $base-color;
							margin-right: 6px;
						}
					}
				}
			}
		}
	}
}
